<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>优信之家后台管理</title>
		<link rel="stylesheet" type="text/css" href="../admin/layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="../admin/css/admin.css"/>
	</head>
	<body>
		<div class="wrap-container welcome-container">
		<script src="../admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../admin/lib/echarts/echarts.js"></script>
		<script src="../admin/js/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../admin/js/url.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
		layui.use(['layer','jquery'], function(){ 
			$.ajax({
                url: '/root/loginNum',
                type: 'get',
                dataType: 'JSON',

                // dataType: 'JSONP',
                // jsonp: "callback",
                // jsonpCallback:"numCallback",
                async: false,
                success:function (result) {
                    $("#loanNum").text(result.loanNum);
   					$("#investNum").text(result.investNum);
   					$("#orderNum").text(result.orderNum);
                },
            });
		})
		</script>
			<div class="row">
				<div class="welcome-left-container col-lg-9">
					<div class="data-show">
						<ul class="clearfix">
							<li class="col-sm-12 col-md-4 col-xs-12">
								<a href="javascript:;" class="clearfix">
									<div class="icon-bg bg-org f-l">
										<span class="iconfont">&#xe606;</span>
									</div>
									<div class="right-text-con">
										<p class="name">借款人个数</p>
										<p><span class="color-org" id="loanNum"> </span>数据<span class="iconfont">&#xe628;</span></p>
									</div>
								</a>
							</li>
							<li class="col-sm-12 col-md-4 col-xs-12">
								<a href="javascript:;" class="clearfix">
									<div class="icon-bg bg-blue f-l">
										<span class="iconfont">&#xe602;</span>
									</div>
									<div class="right-text-con">
										<p class="name">投资人个数</p>
										<p><span class="color-blue" id="investNum"></span>数据<span class="iconfont">&#xe628;</span></p>
									</div>
								</a>
							</li>
							<li class="col-sm-12 col-md-4 col-xs-12">
								<a href="javascript:;" class="clearfix">
									<div class="icon-bg bg-green f-l">
										<span class="iconfont">&#xe605;</span>
									</div>
									<div class="right-text-con">
										<p class="name">交易金额</p>
										<p><span class="color-green" id="orderNum"></span>数据<span class="iconfont">&#xe60f;</span></p>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<!--图表-->
					<div class="chart-panel panel panel-default">
						<div class="panel-body" id="chart" style="height: 376px;">
						</div>
					</div>
				 
				</div>
				<div class="welcome-edge col-lg-3">
				 
					<div class="panel panel-default contact-panel">
						<div class="panel-header">联系我们</div>
						<div class="panel-body">
							<p>QQ：1918942945</p>
							<p>E-mail:zxrjy942945@163.com</p>
						</div>
					</div>
				</div> 
			</div>/'.['
		</div>
		
		<!-- <script src="../../static/admin/js/url.js" type="text/javascript" charset="utf-8"></script> -->
		<script type="text/javascript">
			 
			layui.use(['layer','jquery'], function(){
				// alert('调用前1');
				var layer 	= layui.layer;
				var $=layui.jquery;
				//图表
				var myChart;
				require.config({
				    paths: {
				        echarts: '../admin/lib/echarts'
				    }
				});
				require(
				    [
				        'echarts',
				        'echarts/chart/bar',
				        'echarts/chart/line',
				        'echarts/chart/map'
				    ],
				    function (ec) {
				        //--- 折柱 ---
				        myChart = ec.init(document.getElementById('chart'));
				        myChart.setOption(
				        	{
						     title: {
						        text: "数据统计",
						        textStyle: {
						            color: "rgb(85, 85, 85)",
						            fontSize: 18,
						            fontStyle: "normal",
						            fontWeight: "normal"
						        }
						    },
						    tooltip: {
						        trigger: "axis"
						    },
						    legend: {
						        data: ["借款人个数", "投资人个数", "交易金额"],
						        selectedMode: false,
						    },
						    toolbox: {
						        show: true,
						        feature: {
						            dataView: {
						                show: false,
						                readOnly: true
						            },
						            magicType: {
						                show: false,
						                type: ["line", "bar", "stack", "tiled"]
						            },
						            restore: {
						                show: true
						            },
						            saveAsImage: {
						                show: true
						            },
						            mark: {
						                show: false
						            }
						        }
						    },
						    calculable: false,
						    xAxis: [
						        {
						            type: "category",
						            boundaryGap: false,
						            data: ["周一", "周二", "周三", "周四", "周五", "周六", "周日"]
						        }
						    ],
						    yAxis: [
						        {
						            type: "value"
						        }
						    ],
						     grid: {
						        x2: 30,
						        x: 50
						    },
						    series: [
						        {
						            name: "借款人个数",
						            type: "line",
						            smooth: true,
						            itemStyle: {
						                normal: {
						                    areaStyle: {
						                        type: "default"
						                    }
						                }
						            },
						            data: [10, 12, 21, 54, 260, 830, 710]
						        },
						        {
						            name: "投资人个数",
						            type: "line",
						            smooth: true,
						            itemStyle: {
						                normal: {
						                    areaStyle: {
						                        type: "default"
						                    }
						                }
						            },
						            data: [30, 182, 434, 791, 390, 30, 10]
						        },
						        {
						            name: "交易金额",
						            type: "line",
						            smooth: true,
						            itemStyle: {
						                normal: {
						                    areaStyle: {
						                        type: "default"
						                    },
						                    color: "rgb(110, 211, 199)"
						                }
						            },
						            data: [1320, 1132, 601, 234, 120, 90, 20]
						        }
						    ]
						}
				        );
					}
				);
				$(window).resize(function(){
					myChart.resize();
				})
			});
		</script>
	</body>
</html>
