<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxr.mygraduation.dao.AccountInfoMapper">
    <!-- 实体类和表字段的映射-->
    <resultMap type="com.zxr.mygraduation.entity.AccountInfo" id="AccountInfo">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="myaccount" column="myaccount"/>
        <result property="allMoney" column="all_money"/>
        <result property="accountStatus" column="account_status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <!-- 根据userId查询记录-->
    <select id="selectByUserId" resultType="com.zxr.mygraduation.entity.AccountInfo"
            resultMap="AccountInfo">
        select * from account_info where user_id=#{userId}
    </select>
    <!-- 实现对表记录的插入 -->
    <insert id="insertAccount" useGeneratedKeys="true" keyProperty="id" keyColumn="id"
            parameterType="com.zxr.mygraduation.entity.AccountInfo">
        insert into user (user_id,myaccount)
        values(#{userId},#{myaccount})
    </insert>
    <update id="updateAccount" parameterType="com.zxr.mygraduation.entity.AccountInfo">
        update account_info
        <set>
            <if test="allMoney!=null">
                all_money=#{allMoney},
            </if>
            <if test="accountStatus!=null">
                account_status=1,
            </if>
        </set>
        where user_id=#{userId}
    </update>
</mapper>