<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxr.mygraduation.dao.BankBindMapper">
    <!-- 实体类和表字段的映射-->
    <resultMap type="com.zxr.mygraduation.entity.BankBind" id="BankBind">
        <result property="userId" column="user_id"/>
        <result property="bankName" column="bank_name"/>
        <result property="bankId" column="bank_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    <!-- 根据userId查询记录-->
    <select id="selectByUserId" resultType="com.zxr.mygraduation.entity.BankBind" resultMap="BankBind">
        select * from bank_bind where user_id=#{userId}
    </select>
    <update id="updateBank" parameterType="com.zxr.mygraduation.entity.BankBind">
         update bank_bind set
        bank_name=#{bankName},bank_id=#{bankId}
        where user_id=#{userId}
    </update>

    <!-- 实现对表记录的插入 -->
    <insert id="insertBankBind" useGeneratedKeys="true" keyProperty="userId" keyColumn="user_id"
            parameterType="com.zxr.mygraduation.entity.BankBind">
        insert into bank_bind (user_id,bank_name,bank_id)
        values(#{userId},#{bankName},#{bankId})
    </insert>
    <!--&lt;!&ndash; 根据id删除记录&ndash;&gt;-->
    <delete id="deleteBankBind">
        delete from bank_bind where user_id=#{userId}
    </delete>
</mapper>