<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxr.mygraduation.dao.UserCreditMapper">
    <!-- 实体类和表字段的映射-->
    <resultMap type="com.zxr.mygraduation.entity.UserCredit" id="UserCredit">
        <result property="userId" column="user_id"/>
        <result property="creditValue" column="credit_value"/>
        <result property="allLimit" column="all_limit"/>
        <result property="preLimit" column="pre_limit"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <!--根据用户id查询数据-->
    <select id="selectByUserId" resultType="com.zxr.mygraduation.entity.UserCredit" resultMap="UserCredit">
        select * from user_credit where user_id=#{userId}
    </select>
    <!--添加记录-->
    <insert id="insertUserCredit" useGeneratedKeys="true" keyProperty="userId" keyColumn="user_id"
            parameterType="com.zxr.mygraduation.entity.UserCredit">
        insert into user_credit (user_id,credit_value,all_limit,pre_limit)
        values(#{userId},#{creditValue},#{allLimit},#{preLimit})
   </insert>

    <update id="updateUserCredit" parameterType="com.zxr.mygraduation.entity.UserCredit">
        update user_credit <set>
        <if test="creditValue!=null">
            credit_value=#{creditValue},
        </if>
        <if test="allLimit!=null">
            all_limit=#{allLimit},
        </if>
        <if test="preLimit!=null">
            pre_limit=#{preLimit},
        </if>
         </set>
        where user_id=#{userId}
    </update>
</mapper>